* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER */
.header-content {
    background-color: #0A22F4;
    color: white;
    height: 308px;
    max-width: 1950px;
    width: 100%;
	/* position: relative; */
}
.container{
    display: flex;
    justify-content: space-between;   
    align-items: center; 
    height: 100%;
}
.header-content h1 {
    font-family: 'Bold';
}
.navbar ul{
    display: flex;
}
.navbar li{
    margin: 20px;
}
/* MIDDLE SECTION */
.images {
	display: flex;
	/* position: absolute; */
    max-width: 1200px;
    width: 100%;
}
.block-1, .block-2, .block-3, .block-4 {
	width: 463px;
	height: 420px;
	display: flex;
	margin-right: 25px;
	position: relative;
}
.imagetext {
	font-family: 'Regular';
	position: absolute;
	background-color: rgba(255, 255, 255, 1);
	width: 443px;
	height: 125px;
	padding: 30px 74px 30px 30px;
	top: 285px;
	right: 10px;
	left: 10px;
	bottom: 10px;
	bottom: 10px;
	justify-content: center;
	display: flex;
}
.textbold {
	position: absolute;
	padding: 28px 67px 29px 30px;
	top: 285px;
	right: 10px;
	left: 10px;
	bottom: 10px;
	width: 443px;
	background-color: rgba(255, 255, 255, 1);
    /* left: 10px; */
	/* right: -80px; */
}
p .textbold {
	font-family: 'Bold';
}
/* FOOTER */
.footer{
    background-color: #0A22F4;
    color: white;
}

.contact {
    max-width: 463px;
	width: 100%;
    display: inline-block;
}
h2{
    font-family: 'Bold';
}
p {
    font-family: 'Regular';
}

.reg-form {
    display: flex;
    flex-direction: column;
    width: 463px;
    font-family: "Bold";
    /* border: none; */
}

iframe {
	width: 463px;
	height: 197px;
}

.contact-info tel, email {
	background-color: white;
	display: inline-block;
	margin:  0 auto;
    font-family: "Bold";    
}

.tel img {
    border-radius: 70px;
    background-color: white;
}

.email img {
    border-radius: 70px;
    background-color: white;
}







/* TAKO */